.album{
    display: flex;
    flex-wrap: wrap;
}

#gallery-img {
    width: 200px;
    height: 200px;
}

@media screen and (max-width:988px){
    #gallery-img {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width:806px){
    #gallery-img {
        width: 120px;
        height: 120px;
    }
}
@media screen and (max-width:768px){
    #gallery-img {
        width: 150px;
        height: 150px;
    }
    .dtwo{
        display:none;
        
    }
    .footer2 p{
        font-size: 14px;

}
.one{
    margin-left: 20px;
}
    
}

@media screen and (max-width:387px)
{
    
    .footer2 p{
        font-size: 11px;
}
}