/* General */

@font-face {
    font-family: "Melted Monster Regular";
    font-style: normal;
    font-weight: normal;
    src: local('Melted Monster Regular'), url('Melted Monster.woff') format('woff');
}
@font-face {
    font-family: "Melted Monster Regular";
    font-style: normal;
    font-weight: normal;
    src: local('Melted Monster Regular'), url('https://kartikk1.github.io/Jurassic-Theme-Park/css/fonts/Melted Monster.woff') format('woff');
}

*{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'IBM Plex Sans', sans-serif;
}
h1{
    font-family: "Melted Monster Regular" ;
}
.navbar-brand{
    
    font-family: "Melted Monster Regular" ;

}
@media screen and (max-width:1060px) {
    .nav-link{
        font-size: 17px;
    }
}
/* Backgrounds */


.home-header::before{
    content: '';
    background: url("../img/bg2.jpg");
    position:absolute;
    width: 100%;
    height: 130%;
    z-index: -1;
    opacity: 100%;
    /* background-repeat: no-repeat; */
}

.container-fluid::before{
    content: '';
    background: url("../img/1.png");
    position:absolute;
    width: 100%;
    /* width: 94.5%; */
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 100%;
}

/* Navbar */

.navbar-brand{
    font-size: 25px;
    color: white;
}
.nav-link:hover{
    color: rgb(170, 170, 170);
}
.navbar-brand:hover{
    color: rgb(255, 255, 255);
}
.nav-link{
    font-size: 20px;
    color: white;
}
.nav-link a{
    font-size: 20px;
}
.nav-item{
    padding-right: 40px;
}
.navbar-brand{
    padding-right: 40px;
}
 
/* Home  */

.welcome{
    
    margin: 51px auto;
    text-align: center;
    font-size: 71px;
}
.div{
    width: 100%;
    height: 700px;
    padding-left:65px
}

#ticket{
    border: 3px solid rgb(255, 94, 0);
    border-radius: 7px;
    width: 892px;
    height: 425px;
    /* position: absolute;
    left: 65px;
    top: 270px; */
    padding: 0px;
    margin: 0px;
    display: flex;
}

.box{
    display: inline-block;
    width: 335px;
    height: 419px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}
#box1{
    width: 550px;
}
#box2{
    border-radius: 2px;
}
#box2 h3{
    font-weight: bold;
    text-align: center;
}
.head-box{
    padding-top: 10px;
}
#box2 h4{
    text-align: center;
}
#box2 h5{
    text-align: center;
}
#box2 p{
    text-align: center;
}
#price{
   display: block;
   width: 100px;
   text-decoration-line: line-through;
}
#newprice{
    text-decoration: none; color: #ff5e00;
}
#newprice:hover{
    color: rgb(3, 163, 255);
}
#box2 h3{
    color: rgb(255, 94, 0);
    display: block;
    
}
.features ul li{
    list-style-type: none;
}
.fa-check-circle{
    color: rgb(125, 184, 8);
}
.fa-rupee-sign{
    font-size: 25px;
}
.fa-star{
    color: gold;
}
.price{
    padding-top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*  reviews */

.reviews{
    width: 100%;
    background-color: rgb(220 220 220);;
    height: 700px;
    /* position: absolute;
    top: 979px; */
    /* border: 4px solid black ; */
    display: flex;
    flex-direction: row;

}
.carousel{
    text-align: center;
}
.other{
    position: absolute;
    left: 680px;
    top:120px;
}
.dragon{
    
    width: 33.3%;
}

/* #reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    
} */
.dragon img{
    margin-top: 40px;
    width: 535px;
}

.second{
    position: absolute;
    right: 0px;
}
#reviews h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
}

.review-images{
    opacity: 70%;
}

/* footer  */
.footer {
    background-color: black;
    align-items: center;
    /* position: absolute;
    top: 1660px; */
    height: 55px;
    width: 100%;
}

.footer p{
    color: white;
    text-align: center;
    padding: 15px;
}



/* events */

.rides-box{
    display: flex;
    width: 100%;
    margin: 50px auto;
    flex-direction: row;
    float: left;
    flex-wrap: wrap;
    justify-content: center;
}

.c{
    margin: 10px 50px;
    height: 700px;
    
    /* display: block; */
}
.d{
    height: 650px;

}

h1{
    text-align: center;

}

.Events{
    font-size: 70px;
    /* font-weight: bold; */
    margin-top: 55px;

}


.card-title{
    font-size: 30px;
    margin:10px auto 20px;
    text-align: center;
}
.head-events{
    font-weight: bold;
}
.card-body{
    text-align: center;
}

#video{
    margin: 50px auto;
    width:1280px ; height:720px;
}
.video{
    display: flex;
    width: 100%;
    align-items: center;
}
.footer2{
    background-color: black;
    align-items: center;
    height: 55px;
    width: 100%;
}
.footer2 p{
    color: white;
    text-align: center;
    padding: 15px;
}


.about h1{
    font-size: 50px;
    font-weight: bold;
    margin: 45px;
    color: white;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center ;

}
.map{
    margin-top: 30px;
}

/* gallery */

.head-gallery{
    font-weight: bold;
    font-size: 56px;
    /* margin-bottom: 20px; */
}
.fa-heart{
    color: rgb(235, 3, 53);
    font-size: 23px;
}
.nametext{
     font-size: 20px;
     padding-bottom: 0px;
     margin-bottom: 0px;
     font-weight: bold;
}
.mx-auto{
    display: flex;
    flex-direction: column;
    align-items: center;
    --bs-gutter-x: 0rem; 
    margin: 0px auto;
}
.lead{
    text-align: center;
    margin: 10px auto;
    padding-left: 20px;
}
#gallery-img{
    width: 300px;
    height: 300px;
}


/* booking page */

.booking{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border:2px solid black; */
    height: 100%;
}

.boxx{
    /* border:2px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
}

.boxx h1{
    margin-top: 40px;
    text-align: center;
}
@media (min-width: 1200px){

    .boxx h1 {
        font-size: 4rem;
    }
}

input , textarea{
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border:1px solid black;
}
.img-box{
    width: 50%;
}
.img-box img{
    margin-top: 40px;
    width: 100%;
}

input, select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
  }
  
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container-form{
      width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px auto;
  }

  .container-form p{
    margin: auto;
    text-align: center;
}


/* about */


.about-cont{
    background-color: rgba(255, 255, 255, 0.822);
    width: 800px;
    height: 500px;
    margin: 200px auto;
    padding-top:80px;
}

.about-cont h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.about-cont h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-cont p{
    padding: 0px 80px;
    text-align: center;
}


.btn-dark{
    display: block;
    width: 130x;
    text-align: center;
    margin: 30px auto;
    
}
.btn-dark a{
    color: white;
    text-decoration: none;
}


.contacts{
    width: 100%;
    height: 500px;
    /* background-color: white; */
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    /* border:2px solid black; */
}

.box-contact{
    width: 33.3%;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inc{
    font-size: 20px;

}

.box-contact p{
    font-size: 23px;
    text-align: center;
    padding:0px 19px;
}

.icons{
    font-size:60px;
    padding-bottom: 25px;
}
.sm{
    font-size:27px;
}
.social-media{
    color: black;
}

.navbar-toggler{
    color: whitesmoke; 
    border: 2px solid black;
     background-color: whitesmoke;
}
.navbar-toggler-icon{
    /* color: whitesmoke; */
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width:1060px) {
    .nav-link{
        font-size: 17px;
    }
}
@media screen and (max-width:993px) {
    
    .container-fluid::before{
        content: '';
        background: url("../img/1-new.png");
    }
}

